<!DOCTYPE html>
<html>
    <head>
  
    <!-- Title -->
    <title>{{title}}</title>

<!-- Stylesheet linking -->
    <link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body>
    
  <!-- Header -->
<header class="header" >
    <nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light" style="max-width: 100%;">
            <h1>{{title}}</h1>
        <div>
            <div class="navbar-nav">
                <a href="#home" class="nav-item nav-link">Home</a>
                <a href="#about" class="nav-item nav-link">About</a>
                <a href="#projects" class="nav-item nav-link">Project</a>
                <a href="#contact" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>
</header>


<!-- Home Content -->
 <div class="d-flex align-items-center bg-secondary" id="home" style="min-height: 800px;">
    <div class="container">
       
      <h1 class="text-center">Let's Create Something Great Together.</h1>

      <h3 class="text-center">"Willingness to change is a strength, even if it means plunging part of the company into total confusion for a while." - Jack Welch</h3>

    </div>
</div>



<!-- Anout Me -->
<div id="about" style="min-height: 500px;">
    <h1 class="text-center" style="margin-top: 20px;">About Me</h1>
      <div>
      <div class="flex-container">
    
    <!-- Image -->
  <div class="flex-profile">
     <img src="images/image.jpeg" alt="img" style="width:100%" class="profile-image">
  </div>

  <!-- Details -->
    <div class="flex1">
      <div class="text-center">
    <h5 style="margin-top: 150px;">Name:</h5> <h3 class="text-center" >Parth Patel</h3>
    <h5 style="margin-top: 20px;">Education:</p><h4> B.C.A. , Mobile Solutions Development(running)</h4>
        <h5 style="margin-top: 20px;">Experience:</p><h4>1 year Adnroid Application Development.</h4>
        <h5 style="margin-top: 20px;">Known Languages:</p><h4>JAVA, HTML, Swift, C++, C#, JavaScript.</h4>
        <h5 style="margin-top: 20px;">Skills:</p><h4>Project Management, Graphic Designing, UI/UX Designing, Critical Thinking, Teamwork.</h4>



</div>
</div>
</div>
</div>
</div>





<!-- Projects -->
<div class="bg-secondary" id="projects"  >
    <h1 class="text-center" style="margin-top: 20px;">Projects</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="images/uiux.png" alt="Project1" style="width:100%">
      <div class="container">
        <h3 class="text-center">TalentScout Website Design</h3>
        <p class="title text-center">Ui/Ux Designign</p>
        <p  class="text-center">TalentScoute site designing was my first ui design project which was about creating music website.</p>
        <p  class="text-center">Software used: Adobe XD</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/mern.jfif" alt="Project2" style="width:100%">
      <div class="container">
          <h3 class="text-center">Portfolio Website</h3>
        <p class="title text-center">MERN Developing</p>
        <p  class="text-center">Project to represent my portfolio using different web technologies.</p>
        <p  class="text-center">Languages used: JavaScript, HTML, CSS</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/ios.png" alt="Project3" style="width:100%">
      <div class="container">
         <h3 class="text-center">My Map Mate</h3>
        <p class="title text-center">IOS Swift Project</p>
        <p  class="text-center">My Map Mate is helping app to find useful locations easily in IOS.</p>
        <p  class="text-center">Languages used: Swift</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  
  <div class="column">
    <div class="card">
      <img src="images/android.png" alt="Project5" style="width:100%">
      <div class="container">
        <h3 class="text-center">Travel Buddy App</h3>
        <p class="title text-center">To explore and know about unknown areas of world.</p>
        <p  class="text-center">This was my first android app which was related to travelling and help tourists.</p>
        <p  class="text-center">Language used: JAVA</p>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <img src="images/cs.png" alt="Project4" style="width:100%">
      <div class="container">
       <h3 class="text-center">Electronics Shop Application</h3>
        <p class="title text-center">Repairing shop application for appointments.</p>
        <p  class="text-center">This app is used to book and manage appointments for electonics repairing shop.</p>
        <p  class="text-center">Languages used: C#</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="images/android.png" alt="Project6" style="width:100%">
      <div class="container">
        <h3 class="text-center">Astrology App</h3>
        <p class="title text-center">Astrological app with different api.</p>
        <p  class="text-center">Useful android application to watch horoscope and much things.</p>
        <p  class="text-center">Language used: Java</p>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Contact Me -->
<div id="contact">
    <h1 class="text-center" style="margin-top: 20px; margin-bottom: 20px;">Contact Me</h1>

    <!-- Enquiry Form -->
    <div>
      <div class="flex-container">
      <div class="flex1">
      <div class="form_container">
      <form action="mailto:paarthh21@gmail.com" method="POST" enctype="text/plain" onsubmit="checkValues()" name="form">

      <h5>First Name</h5>
      <input type="text" id="fname" name="fname" placeholder="Enter Name" required pattern="[a-zA-Z]*" title="Please Enter Proper Name.">

      <h5>Last Name</h5>
      <input type="text" id="lname" name="lname" placeholder="Enter Last Name" required pattern="[a-zA-Z]*" title="Please Enter Proper Last Name">

      <h5>Email</h5>
      <input type="text" id="email" name="email" placeholder="Enter your email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" title="Please Enter Proper Email">

      <input type="submit" value="Submit">

  </form>
</div>
</div>

<!-- Social media links -->
  <div class="flex2">
    <div class="contact-item">
<ul>
<li><h3><img src="images/facebook.png" alt="Project6" style="width:8%"> Facebook  <a href="https://www.facebook.com/" target="_blank"><img src="images/link.png" alt="fail" style="width:5%"></a></img></h3></li>
<li><h3><img src="images/instagram.png" alt="Project6" style="width:8%"> Instagram <a href="https://www.instagram.com/" target="_blank"><img src="images/link.png" alt="fail" style="width:5%"></a></img></h3></li>
<li><h3><img src="images/twitter.png" alt="Project6" style="width:8%"> Tweeter <a href="https://www.tweeter.com/" target="_blank"><img src="images/link.png" alt="fail" style="width:5%"></a></img></h3></li>
<li><h3><img src="images/linkedin.png" alt="Project6" style="width:8%"> Linkedin <a href="https://www.linkedin.com/" target="_blank"><img src="images/link.png" alt="fail" style="width:5%"></a></img></h3></li>
<li><h3><img src="images/github.png" alt="Project6" style="width:8%"> Github <a href="https://www.github.com/" target="_blank"><img src="images/link.png" alt="fail" style="width:5%"></a></img></h3></li>


</ul>
</div>
  </div>
  
</div>
</div>
</div>

<!-- Footer -->
 <footer>
        <div class="footer-area bottom navbar-expand-lg bg-light navbar-light">
          
                <p class="text-center">
                Copyright &copy; Parth Patel. All rights reserved.
                </p>
          <p class="text-center">
                <a href="#home">Home </a> |   
                <a href="#about">About</a>  |  
                <a href="#projects">Projects</a>   | 
                <a href="#contact">Contact</a>
                </p>
        </div>
    </footer>

</body>